@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #036F8C,#048C80);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #07a77ca4;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #01568C;
    text-align: center;
    text-shadow: 1px 1px 0px #04644ba4;
}
h2{
    color: #07A77B;
}
p{
    text-align: justify;
}