body{
    margin: 0px;
    border: 50px;
}
h1{
    color:rgb(255, 255, 255);
    background-color: rgb(73, 71, 71);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 50px;
    border-radius: 30px;
    margin-top: 0px;
}
h2{
    text-align: center;
    color: black;
    font-size: 40px;
}
section{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 0px;
}
span{
    display: inline;
    display: block;
    block-size: 300px ;
}
