@charset "UTF-8";
/*cores para usar no projeto*/
:root{
    --cor1 : #672B00;
    --cor2 : #331B0A;
    --cor3 : #CC8552;
    --cor4 :  #FFC499;
    --cor5 : #FFE1CC;

    --font1 : font-family: "Montserrat", sans-serif;
    --font2 : font-family: "Changa One", sans-serif;
    --font3 : font-family: "Roboto Slab", serif;
    
}
/*para usar a cor use var() ex. color : var(--cor1);*/
/*aqui tambem estao as fonts que vamos usar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imgens/imagen-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 10px;
}
header{
    width: 98vw;
    height: 10vh;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 2px 0px 3px 1px var(--cor4);
    background-color:#ffe1cc31;
}
.logomarca{
    width: 70px;
    height: 65px;
    margin-bottom: -20px;
}
h1{
    font-family: "Changa One", sans-serif;
    flex-wrap: wrap;
    font-size: 35px;
    font-weight: 900;
    display: inline-flex;
    color: var(--cor4);
    height: 50px;
    text-shadow: 2px 2px 2px var(--cor2);
}
 nav{
    display: inline-block;
    width:400px;
    height: 50px;
    margin-right: 20px;
    
}
ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align:center;
    
    
}
li{
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: var(--cor4);
    text-shadow: 3px 0px 3px var(--cor2);
}
li a:hover{
    margin-left: -5px;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    background-color: #CC8552;
    color: #331B0A;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.slogan{
    height: 80vh;
    width: 1000px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
h2{
    font-family: "Changa One", sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-indent: 15px;
    color: var(--cor5);  
    text-align: start;
    text-shadow: 3px 8px 8px var(--cor2);
    height: 40vh;
    display: flex;
    align-items: center;
}
p{
    font-family: "Roboto Slab", serif;
    color: var(--cor5);
    text-shadow: 2px 2px 2px var(--cor2);
    text-align: left;
    text-indent: 10px;
    font-size: 20px;
    display: flex;
    height: 30vh;
    width: 350px;
    margin-bottom: 50px;
}

.btn {
    background-color:#672B00;
    height: 50px;
    font-family: "Changa One", sans-serif; 
    font-size: 25px;  
    color: var(--cor4);
    width: 300px;
    border-radius: 15px;
    align-self: flex-start;
    box-shadow: 2px 5px 5px var(--cor5);
    margin-left: 50px;
}
.btn:hover{
    background-color: #CC8552;
}

.btn>a:hover{
    color:#331B0a;
    text-shadow: 3px 5px 8px #CC8552;
}
article{
    display: flex;
    width: 40vw;
    justify-content: end;
    align-items: end;
}
.promocao{
    padding: 50px;
    border-radius: 20px;
    background-color: #ffc4992c;
    box-shadow: 5px 5px 5px var();
    height: 400px;
    width: 300px;
    flex-direction: column;
    display: flex;
    align-items: start;
    
}
.oferta{
    
    list-style-type: disc;
    width: 150px;
    font-family:"Roboto Slab", serif;
    font-size: 20px;
    font-weight: 800;
    color:var(--cor2);
    text-shadow: 4px 4px 4px var(--cor2);
    background-color: #ffc4994d;
}