/*usando * ele e um seletor universal o CSS sera aplicado todos os seletore*/
@charset "UTF-8";
* {
    margin: 0 ;/*margem para fora*/
    padding: 0;/*margem para dentro */
    box-sizing: border-box;/*e uma maneira de calcular as distancias das 'caixas' uma das outras*/
    list-style: none;/*os pontos das listas */
    font-family: "Montserrat", sans-serif; /*font do projeto todo caso precise de outra font faça no seletor expecifico*/
}
/*lembrando sempre faça seu CSS na ordem que escreveu as tags class e id no codigo*/

body{
    background-color: #0f0f1e;/*com do fundo*/
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;/*oque não estiver na tela ele esconde 'basicamente'*/
}
header{
    position: fixed;/*para fixalo*/
    width: 99vw;/*essa foi a largura da nossa caixa*/
    top: 0;
    padding: 20px 50px;
    display: flex;/*para colocar um do lado do outro*/
    justify-content: space-between;/*basicamente para para cada canto*/
    align-items: center;
    z-index: 3;
}

.logo{
    font-family: "Orbitron", sans-serif; /*outra font*/
    font-size: 2rem;/*outra medida de tamanho*/
    font-weight: 900;/*grossura da font*/
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);/*e uma sombra saindo da letra*/
}

header nav ul{/*basicamente eu disse vai na caixa HEADER, depois na caixa NAV e depois na caixa UL*/
    display: flex;/*itens um do lado do outro*/
    gap: 48px;
}

header nav ul li {/*mesma coisa citada acima so mandei abrir mais uma caixa*/
    cursor: pointer;/*virar maozinha quando o mouse passar em cima*/
    position: relative;
    padding: 5px 0 ;

}
/*esse e com se fosse um filho do de cima */
header nav ul li::after{
    content: '';
    position: absolute;
    left: 0 ;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.5s ease;
}

header nav ul li:hover::after{/*basicamente e para ativar a animação apenas quando o mouse passar em cima*/
    width: 100%;
}/*da linha 36 ate a 61 foi apenas para criar a animação*/

.conteiner{
    height:100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);/*basicamente fazer um degrade de uma cor para outra*/
    overflow: hidden;
}
/*cuidado para fazer as animações de antes e depois com suas position*/
.conteiner::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;/*para ficar meio esfumacada*/
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2 ) 0%, rgba(15, 15, 30, 0)70%);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /*position, top, left e transform isso tudo para alinhar bem no centro*/
    filter: blur(50%);
    z-index: 1;
    /*não esqueça de configurar a animação*/
    animation: pulso 4s infinite alternate;
}
/*o @keyframe e para criar uma animação */
@keyframes pulso {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}

.lista{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item{
    position: absolute;
    inset: 0;/*todas as posições 0 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.ativo{
    opacity: 1;
}

.img-produto{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.img-produto img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
}
/*min47*/