@charset "UTF-8";
/*
em HTML é id    = em CSS é # (so pode 1 elemento)
em HTML é class = em CSS é . (pode mais de um elemento)
*/

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color:#4DE075;
}
h1{
    color: #216132;
}
h2{
    color: #37A153;
}
.basico{
    color: #0f3b1b;
}
.intermediario{
    color: #000000;
    text-align: right;
}
.avançado{
    color: black;
}